{% extends "shop/base.html" %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
        <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
            <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
                <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                    <img class="w-full dark:hidden" src="{% if product.image %}{{ product.image.url }}{% else %} {% static "img/no_image.png" %}{% endif %}" alt="" />
                    <img class="w-full hidden dark:block" src="{% if product.image %}{{ product.image.url }}{% else %} {% static "img/no_image.png" %}{% endif %}" alt="" />
                </div>
                <div class="mt-6 sm:mt-8 lg:mt-0">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ product.name }}</h1>
                    <a href="{{ product.category.get_absolute_url }}" class="text-[#6b62ff]">{{ product.category }}</a>
                    {% if product.discount_percentage > 0 %}
                        <div class="relative">
                            <span class="relative mt-3 text-lg font-extrabold line-through text-[#72757b] sm:text-2xl dark:text-[#72757b]">
                                ${{ product.original_price }}
                            </span>
                            <span class="relative ms-1 top-[-1.5em] rounded bg-[#fbf3b2] px-2.5 py-0.5 text-xs font-medium text-[#614b00]">-{{ product.discount_percentage|floatformat:0 }}%</span>
                        </div>
                    {% endif %}
                    <div class="sm:items-center sm:gap-4 sm:flex">
                        <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">${{ product.price }}</p>
                        <div class="flex items-center gap-2 mt-2 sm:mt-0">
                            <div class="flex items-center gap-1">
                                <svg class="w-4 h-4 text-yellow-300"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                </svg>
                                <svg class="w-4 h-4 text-yellow-300"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                </svg>
                                <svg class="w-4 h-4 text-yellow-300"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                </svg>
                                <svg class="w-4 h-4 text-yellow-300"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                </svg>
                                <svg class="w-4 h-4 text-yellow-300"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                </svg>
                            </div>
                            <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">(5.0)</p>
                            <a href="#"
                               class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white">
                                345 Reviews
                            </a>
                        </div>
                    </div>
                    <div>
                        {% if product.quantity == 0 %}
                            <span class="rounded bg-[#fb9678] px-2.5 py-0.5 mt-4 text-xs font-medium text-white">Out of stock</span>
                        {% endif %}
                    </div>
                    <div class="mt-6 sm:gap-4 sm:items-start justify-center sm:flex sm:flex-col sm:mt-8">
                        <a href="#"
                           title=""
                           class="flex w-1/2 items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                           role="button">
                            <svg class="w-5 h-5 -ms-2 me-2"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                            </svg>
                            Add to favorites
                        </a>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            <div>
                                {% for field in cart_product_form %}
                                    <div class="mb-4 flex justify-between gap-6 w-full">
                                        {% comment %} <label class="block mb-2 mr-8 text-sm font-medium text-gray-900 dark:text-white" for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                            {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
                                        </label> {% endcomment %}
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}<p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ error }}</p>{% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                {% if product.quantity == 0 %}
                                    <p class="text-[#f04e45] mb-4">Item is out of stock. Check in soon for new stock</p>
                                {% endif %}
                            </div>
                            {% csrf_token %}
                            <button type="submit"
                                    {% if product.quantity == 0 %}disabled{% endif %}
                                    value="Add to cart"
                                    class="w-full text-white mt-4 sm:mt-0 bg-[#1f4fd8] hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[#1f4fd8] dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center cursor {% if product.quantity == 0 %}bg-[#97b7f5]{% endif %}">
                                Add to cart
                            </button>
                        </form>
                    </div>
                    <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
                    <div class="text-gray-900 dark:text-white">{{ product.description|linebreaks }}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
