{% extends 'shop/base.html' %}
{% block content %}
    <form action="{% url 'update_user_details' %}"
          method="post"
          novalidate
          class="max-w-4xl mx-auto bg-gray shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Basic Details</h2>
        {% csrf_token %}
        <div class="flex flex-col md:flex-row gap-4 md:gap-8">
            <div class="flex-1">
                {% for field in user_form %}
                    {% include 'shop/includes/field.html' %}
                {% endfor %}
            </div>
            <div class="flex-1">
                {% for field in profile_form %}
                    {% include 'shop/includes/field.html' %}
                {% endfor %}
            </div>
        </div>
        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Save Changes
        </button>
    </form>
{% endblock content %}
